body{
    text-align: center;
    background-color: crimson;
}
.styl{
    display: flex;
    justify-content: center;
}
.n1, .n2, .n3{
 width: 30px;
 height: 120px;
 background-color: green;
}
.n2{
    transform: rotate(90deg);
    position: relative;
    bottom: 50px;
}
.pers{
    margin-top: 200px;
}
.p_active{
    transform: rotate(90deg);
    position: relative;
    top: 200px            ;
}